<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155993529740-c9r0pbhce3f783bqph0hem05bjidchrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155993529740-c9r0pbhce3f783bqph0hem05bjidchrm</string>
	<key>API_KEY</key>
	<string>AIzaSyA_XcHeMNiK_qGANmWX17tKckWC7_1nXTs</string>
	<key>GCM_SENDER_ID</key>
	<string>155993529740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceDetection</string>
	<key>PROJECT_ID</key>
	<string>drivefit-user-sessions</string>
	<key>STORAGE_BUCKET</key>
	<string>drivefit-user-sessions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155993529740:ios:ffa3bad0583ad7d6d38aa9</string>
	<key>DATABASE_URL</key>
	<string>https://drivefit-user-sessions-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>